Add support for SMTPUTF8

Postfix already supports SMTPUTF8, but for that feature to work, downstream servers must support SMTPUTF8 as well.

FuGlu being the "downstream server" is a blocking component at the moment.

http://ftp.uma.es/mirror/postfix/doc/SMTPUTF8_README.html

FuGlu should comply to:
   * RFC 6530 - Overview and Framework for Internationalized Email
   * RFC 6531 - SMTP Extension for Internationalized Email (SMTPUTF8)
   * RFC 6532 - Internationalized Email Headers
   * RFC 6533 - Internationalized Delivery Status Notifications 
   * RFC 5890, RFC 5891; RFC 3490 - Internationalized Domain Names for Applications (IDNA) Definitions and Document Framework 

Amavisd do for a few years already as do Dovecot.

please check https://gitlab.com/fumail/fuglu/issues/190

closed as development continues on gitlab